:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 100vw;
  max-width: 100vh;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #22343d;

  display: flex;
  flex-direction: column;

  background-color: #ffffff;
}
body:has(.backdrop.is-open) {
  overflow: hidden;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
