/* #region Header */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  gap: 237px;
}
.nav-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;

  display: flex;
  align-items: center;
  gap: 16px;
}
.nav-logo-img {
  width: 39px;
  height: 36px;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-list-item {
}
.nav-list-link {
  padding: 26px 0;

  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-link.current {
  font-weight: 600;
}
.nav-list-link:hover,
.nav-list-link:focus,
.nav-list-link:active {
  color: #01675b;
}

.header-list-btn {
  display: flex;
  gap: 21px;
}
.header-item-btn {
}
.header-btn {
  width: 105px;
  height: 42px;

  font-size: 16px;
  font-weight: 600;
  color: #173a56;

  border-radius: 4px;
  border: 1px solid #bcd0e5;
  background-color: #fff;

  transform: scale(1);
  transition: transform 0.15s ease, color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-btn:hover {
  color: #fff;
  background-color: #02897a;
}
.header-btn:active {
  color: #fff;
  background-color: #027a6b;
  box-shadow: inset 0 2px 4px rgba(0, 4, 4, 0.287);
  transform: scale(0.96);
}
.header-btn:focus {
  color: #fff;
  background-color: #02897a;
}
