h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  max-width: 100%;
  padding: 0;

  display: block;
  
  font-family: inherit;
  cursor: pointer;
  border: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
